<div class="custom-main-card">
    <div class="mt-4">
        <app-breadcrumb  [items]="[{ icon: 'pi pi-home', routerLink: '/'},
                                   {label: 'Cardápio', routerLink: '/cardapio'}
                                  ]"/>
    </div>

    <app-page-header page-title="Cardápio"></app-page-header>


</div>

<!-- <app-page-header page-title="Categorias"
                 button-text="Nova Categoria" 
                 button-link="new"
                 button-icon="pi pi-plus"
                 style-class="p-button-success"></app-page-header> -->
