<div class="custom-main-card">           
    <div class="custom-btns">
        <div class="custom-card-btn">
            <p-card>
                <h2>Clique aqui se já for cliente</h2>
            </p-card>            
        </div>
        <div class="custom-card-btn" style="margin-top: 80px;">
            <p-card>
                <h2 routerLink="/cardapio">Clique aqui para ver nosso cardápio</h2>
                <!-- <a class="nav-link"  routerLink="/cardapio">Categorias</a> -->
            </p-card>            
        </div>  
    </div>
</div>
