.custom-main-card {    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1170px;
    height: 800px;
    background: #ffffff;
    border-radius: 15px;

    .custom-card-btn {
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
        animation: fadeIn 0.2s;
        text-align: center;
        width: 500px;
        background: #b5fc8c;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .custom-card-btn:hover {
        transform: scale(1.05);
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
}